@model Colmart.View_Models.clsWishlistLeads

@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/" + ViewBag.Layout;
}


<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-light-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ul>
        </nav>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Wishlist Area start -->
<div class="wishlist-area ptb-90">
    <div class="container">
        <div class="wishlist-content">
            <form action="#">
                <div class="wishlist-table table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name"><span>Product</span></th>
                                <th class="product-stock-stauts"><span> Stock Status </span></th>
                                <th class="product-remove"><span>Remove</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.lstProducts.Any())
                            {
                                <tr>Please be advised that your wishlist is currently empty.</tr>
                            }
                            else
                            {
                                foreach (var wishlistproduct in Model.lstProducts)
                                {
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="~/Views/Product/ProductDetails.cshtml">
                                                <img src="@wishlistproduct.strImageURL" alt="" />
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="~/Views/Product/ProductDetails.cshtml">@wishlistproduct.strTitle</a>
                                        </td>
                                        <td class="product-stock-status">
                                            <span class="wishlist-in-stock">In Stock</span>
                                        </td>
                                        <td class="product-remove">
                                            <a onclick="removeFromWishList(@wishlistproduct.iProductID)">&times;</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <div class="wishlist-share">
                                        <h4 class="wishlist-share-title">Share on:</h4>
                                        <ul>
                                            <li><a class="facebook" href="#"></a></li>
                                            <li><a class="twitter" href="#"></a></li>
                                            <li><a class="pinterest" href="#"></a></li>
                                            <li><a class="googleplus" href="#"></a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-action">
                                        <button id="makeWish">Submit</button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Wishlist Area end -->
<!-- Modal Details -->
<div id="makeWishModal" class="modal">
    <!-- Modal Content -->
    <div class="modal-content">
        <div class="modal-header">
            <div>
                <h2>Details</h2>
            </div>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("MakeAWish", "Wishlist", FormMethod.Post, new { @id = "frmUserLogin", @name = "frmUserLogin" }))
            {
                <div class="form-fields">
                    @ViewBag.Message

                    <div class="col-lg-12 col-md-12 col-sm-12" style="float:left;position: relative;z-index: 10;">
                        <p>
                            <label for="reg-wish" class="important">First Name</label>
                            @Html.EditorFor(wishlistLead => wishlistLead.clsLeads.strFirstName, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(wishlistLead => wishlistLead.clsLeads.strFirstName, null, new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p>
                            <label for="reg-wish" class="important">Email Address</label>
                            @Html.TextBoxFor(wishlistLead => wishlistLead.clsLeads.strEmail, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(wishlistLead => wishlistLead.clsLeads.strEmail, null, new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p>
                            <label for="reg-wish" class="important">Phone Number</label>
                            @Html.TextBoxFor(wishlistLead => wishlistLead.clsLeads.strPhone, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(wishlistLead => wishlistLead.clsLeads.strPhone, null, new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="form-action">
                    <button type="submit">Save List</button>
                </div>
            }
        </div>
        <div class="modal-footer">
            <p>Remember to click "Save List" so that a reseller can contact you about your interest in our products</p>
        </div>
    </div>
</div>

<!-- Modal Details End -->
<script>

@*// Get the modal*@
    var modal = document.getElementById('makeWishModal');

// Get the button that opens the modal
    var btn = document.getElementById("makeWish");

@*// Get the <span> element that closes the modal*@
var span = document.getElementsByClassName("close")[0];

@*// When the user clicks on the button, open the modal*@
btn.onclick = function() {
modal.style.display = "block";
}

@*// When the user clicks on <span> (x), close the modal*@
span.onclick = function() {
modal.style.display = "none";
}

@*// When the user clicks anywhere outside of the modal, close it*@
window.onclick = function(event) {
if (event.target == modal) {
modal.style.display = "none";
}
}
</script>