@model Colmart.View_Models.clsForgotPassword

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_RolandoLayout.cshtml";
}

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-light-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
            </ul>
        </nav>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Account Area Start -->
<div class="my-account-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12"></div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @id = "frmUserLogin", @name = "frmUserLogin" }))
                {
                    <div class="form-fields">
                        <h2>Forgot Password</h2>
                        @ViewBag.Message

                        <p>
                            <label for="login-name" class="important">Email Address</label>
                            @Html.EditorFor(model => model.strEmail, new { htmlAttributes = new { @required = "required", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.strEmail, null, new { @class = "text-danger" })
                        </p>
                        @Html.ValidationMessage("loginError", new { @class = "text-danger" })
                    </div>
                    <div class="form-action">
                        <button type="submit">Reset Password</button>
                    </div>
                }
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12"></div>
        </div>
    </div>
</div>
<div id="snackbar"><span><i class="fa fa-check" aria-hidden="true"></i></span></div>

<script>
    $(document).ready(function () {
        var bAccountCreated = '@ViewBag.Register';
        if (bAccountCreated) {
            alert('working');
            var x = document.getElementById("snackbar");
            $("#snackbar").text('@ViewBag.Message');
            // Add the "show" class to DIV
            x.className = "show";
            // After 3 seconds, remove the show class from DIV
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
        }
    });

</script>

<!-- Account Area End -->