@{
    Layout = "~/Views/Shared/" + @ViewBag.Layout;
    ViewBag.Title = "Home Page";
}

<!-- Slider Four Area Start -->
<div class="slider-four-area">
    <div class="slider-wrapper owl-carousel carousel-style-dot">
        <div class="single-slide slide-two" style="background-image: url('../Content/assets/img/slider/8.jpg');">
            <div class="container">
                <div class="slider-banner">
                    <h2>Pierre Cardin</h2>
                    <h1>Lounge Shirt</h1>
                    <p>Mens Stripe L/S Shirt</p>
                    <a href="@Url.Action("Shop","Shop", new { @strPageHeader = "Shop" })" class="banner-btn">Shop now</a>
                </div>
            </div>
        </div>
        <div class="single-slide slide-two" style="background-image: url('../Content/assets/img/banner/Header-2.jpg');">
            <div class="container">
                <div class="slider-banner">
                    <h2>Pierre Cardin</h2>
                    <h1>Mens Check L/S Shirt</h1>
                    <p>
                        Mens slim fit, two-piece button down collar with contrast collar stand and inner cuffs.
                    </p>
                    <a href="@Url.Action("Shop","Shop", new { @strPageHeader = "Shop" })" class="banner-btn">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Four Area End -->
<!-- Banner Area Start -->
<div class="banner-area">
    <div class="container">
        <div class="banner-container banner-style-2">
            <div class="row">
                <div class="col-md-6">
                    <a class="banner-image" href="@Url.Action("Shop","Shop", new { @strPageHeader = "Women Sweaters",@strCategories = "8" })"><img src="~/Content/assets/img/features/Feature-1.jpg" alt=""></a>
                </div>
                <div class="col-md-6">
                    <a class="banner-image" href="@Url.Action("Shop","Shop", new { @strPageHeader = "Jackets",@strCategories = "7" })"><img src="~/Content/assets/img/features/Feature-2.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Product Area Start -->
<div class="product-area text-center pt-70 pb-95">
    <div class="container">
        <div class="section-title">
            <span>new shop item</span>
            <h2><span>trending products</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="product-tab-list nav" role="tablist">
            <a class="active" href="#tab1" data-toggle="tab" role="tab" aria-selected="true" aria-controls="tab1">
                <img src="~/Content/assets/img/icon/tshirt.png" alt="">
                <span>T-Shirts</span>
            </a>
            <a href="#tab2" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab2">
                <img src="~/Content/assets/img/icon/jeans.png" alt="">
                <span>Bottoms</span>
            </a>
            <a href="#tab3" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab3">
                <img src="~/Content/assets/img/icon/pullover.png" alt="">
                <span>Jackets</span>
            </a>
            <a href="#tab4" data-toggle="tab" role="tab" aria-selected="false" aria-controls="tab4">
                <img src="~/Content/assets/img/icon/formal-shirt.png" alt="">
                <span>Formal</span>
            </a>
        </div>
        <div class="tab-content">
            @Html.Action("_HomeCarousel")
        </div>
    </div>
</div>
<!-- Product Area End -->
<!-- Banner Area Start -->
<div class="banner-area style-1">
    <div class="container">
        <div class="ht-banner-content">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <a class="banner-image" href="@Url.Action("Shop","Shop", new { @strPageHeader = "Golf Shirts",@strCategories = "6" })"><img src="~/Content/assets/img/features/Footer-Feature-1.jpg" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <a class="banner-image" href="@Url.Action("Shop","Shop", new { @strPageHeader = "Mens Bottoms",@strCategories = "10" })"><img src="~/Content/assets/img/features/Footer-Feature-2.jpg" alt=""></a>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <a class="banner-image" href="@Url.Action("Shop","Shop", new { @strPageHeader = "T-Shirts",@strCategories = "13" })"><img src="~/Content/assets/img/features/Footer-Feature-3.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<script src="~/Content/assets/js/popper.js"></script>
<div id="snackbar"></div>
<script>
    function addToMyWishList(iProductID) {
        $.ajax({
            type: "POST",
            url: '/Wishlist/addToWishlist',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'iProductID': iProductID }),
            dataType: "json",
            success: function (data) {
                showSnackWithMessage(data.message);
            },
            error: function () { alert('A error'); }
        })
    }
</script>

<script>
    function showSnackWithMessage(message) {
        var x = document.getElementById("snackbar");
        $("#snackbar").text(message);
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 10000);
    }
</script>